.box {
  width: 250px;
  padding: 20px;
  position: absolute;
  z-index: 1000;
  top: 30%;
  left: 50%;
  background-color: #0b0c10;
  border-radius: 30px;
  transform:translate(-50%)
}

.box h1 {
  color:  #66fcf1;
  font-size: 35px;
  text-align: center;
}


.kak1 {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 75px;
  height: 35px;
  border: 1px solid #45a29e;
  padding: 5px;
  color: #FEF9c7;
  outline: none;
  border-radius: 20px;
}

.kak2 {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 75px;
  height: 35px;
  border: 1px solid #45a29e;
  padding: 5px;
  color: #FEF9c7;
  outline: none;
  border-radius: 20px;
}

